.pageHeader {
    text-align: center;
    margin: 0 0 20px 0;
}

.list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.shop {
    border: dotted 1px black;
    flex-basis: 30%;
    padding: 5px;
    margin: 0 5px;
}

